{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        no.cjohansen/replicant {:git/url "https://github.com/cjohansen/replicant"
                                :sha "2ecf94e2a0e34b97b68e74e4923283ba7bc3592c"}}
 :aliases
 {:dev {:extra-paths ["dev" "dev-resources"]
        :extra-deps {cider/piggieback {:mvn/version "0.5.3"}
                     com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
        :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}}}
